{define title}Importovanie{/define}
{define description}Importovanie doplatkov na lieky.{/define}
{block content}
<ul class="list nav nav-tabs">
	<li><a data-toggle="tab" href="#sectionA">Importovanie doplatkov na lieky</a></li>
</ul>

<div class="tab-content content">
	<div id="sectionA" class="tab-pane fade in active">
		<h2>Importovanie doplatkov na lieky</h2>
		{control importForm}
		<p>Aktualizujú sa len lieky, ktoré sú v databáze. Neexistujúce lieky sú ignorované.</p>
	</div>
</div>
