{define title}Přihlášení{/define}
{define description}Přihlášení do uživatelského účtu.{/define}
{block content}
<h2>Prihlásenie</h2>
{* Formulář pro přihlášování. *}
{control loginForm}
<p>Pokiaľ nemáte účet, <a n:href="Administration:register">zaregistrujte sa</a>.</p>
