{define title}Přihlášení{/define}
{define description}Přihlášení do uživatelského účtu.{/define}
{block content}
<h2>Vytvorenie nového účtu</h2>
{* Formulář pro přihlášování. *}
{control registerForm}
