parameters:

application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter

session:
	expiration: 14 days

services:
	- App\Model\OfficeManager
	- App\Model\MenuManager
	- App\Model\InsurenceManager
	- App\Model\SupplierManager
	- App\Model\UserManager
	- App\Model\MedicineManager
	- App\Forms\UserForms
	router: App\RouterFactory::createRouter
	autenticator: App\Model\AuthenticatorManager
	authorizator: App\AccessListFactory
	cacheStorage:
		class: Nette\Caching\Storages\DevNullStorage

forms:
	messages:
		REQUIRED: 'Povinne pole.'

di:
	debugger: true
